<ion-view view-title="{{nouseful.short}}" left-buttons="leftButtons">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-android-search" ng-click="showFilterBar()">
        </button>
        <i class="icon ion-android-more-vertical" ng-click="showDetails()"></i>
    </ion-nav-buttons>

    <ion-content class="nousefulDetails">

        <ion-list>
            <ion-item collection-repeat="nousefulsDelail in nousefulsDelails" type="item-text-wrap" href="#/main/nouseful">
                <h2 ng-click="NousefulConfirm()">{{ nousefulsDelail.title }}</h2>
                <p>{{ nousefulsDelail.description }}</p>
                <p>Tél : <a href="tel:{{ nousefulsDelail.phone }}">{{ nousefulsDelail.phone }}</a></p>
            </ion-item>
        </ion-list>

        <ion-list ng-if="nousefulsDelails !== undefined && !nousefulsDelails.length" class="no-results">
            <ion-item type="item-text-wrap" href="#">
                <p>No Results</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
