<ion-view hide-nav-bar="true">
    <ion-slide-box>

        <ion-slide>
            <div class="slide first">
                <div class="header">Astuces</div>
                <div class="description">
                    Découvrez de petits gestes simples pour vous aider à garder la pleine forme
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide second">
                <div class="header">Infos maladies</div>
                <div class="description">
                    Renseignez-vous sur les maladies et maux fréquents de nos régions pour mieux les éviter
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide third">
                <div class="header">Numéros utiles</div>
                <div class="description">
                    Une liste de numéros utiles à portée de main pour sauver des vies
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="slide fourth" ng-controller="SliderCtrl">

                <div class="header">Important</div>
                <div class="description">
                    Le contenu de cette application n’est offert qu’à des fins strictement informatives et ne saurait en aucun cas remplacer une consultation médicale. Ne négligez jamais un conseil que vous aura prodigué votre médecin ou un autre agent de santé qualifié. Sollicitez toujours l’avis d’un professionnel de santé à propos de questions relatives à votre santé ou celle de vos proches.

                    <button class="button button-positive button-round" ng-click="openLogin()">
                        Démarrer
                    </button>

                </div>

            </div>
        </ion-slide>

    </ion-slide-box>
</ion-view>
